{% extends "base.html" %}

{% block title %}Questionnaire | Cocktail Generator{% endblock %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&family=Playfair+Display&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/spin.css') }}" />

    <!-- cdn for winwheel.js and tweenmax.js for animation of the wheel --> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/zarocknz/javascript-winwheel@2.7.0/Winwheel.min.js"></script>
{% endblock %}

{% block content %}
    <section class="content">
        <h2>Spin the Wheel</h2>
        <h3>Receive a random drink recipe by spinning the wheel! Press SPIN to begin.</h3>

        <div class="bottom-wrapper">
            <div class="wheel-wrapper">
                <div class="pointer"></div>
                <canvas id="wheel" class="wheel" width="600px" height="600px"></canvas>
                
                <div class="button-wrapper">
                    <button id="spin-button" class="spin-button" onclick="spinWheel()">SPIN</button>
                </div>
            </div>
           
            <div id="result" class="result"></div>

        </div>
    </section>

    <script>
        let drinks = [];
        let wheel;
        
        async function getDrinks(){
            for (let i = 0; i < 10; i++){
                const response = await fetch("https://www.thecocktaildb.com/api/json/v1/1/random.php");
                const data = await response.json();

                if (drinks.includes(data.drinks[0])){
                    i--;
                }
                else{
                    drinks.push(data.drinks[0])
                }
            }

            const options = drinks.map(d => ({
                fillStyle: "#1F1104",
                text: d.strDrink,
                textFontFamily: "Playfair Display",
                textFontSize: 14,
                textFillStyle: "#F0DAB4",
                strokeStyle: "#F0DAB4"
            }));

            wheel = new Winwheel({
                canvasId: "wheel",
                numSegments: options.length,
                lineWidth: 4,
                outerRadius: 280,
                segments: options,
                pointerAngle: 0,
                animation: {
                    type: "spinToStop",
                    duration: 4, 
                    spins: 10,
                    callbackFinished: outputResult
                }
            });
            
        }

        async function outputResult(result){
            const output_drink = drinks.find(d => d.strDrink == result.text)

            if (output_drink){
                const response = await fetch(`https://www.thecocktaildb.com/api/json/v1/1/lookup.php?i=${output_drink.idDrink}`);
                const data = await response.json();
                const drink_data = data.drinks[0]

                const instructions = drink_data.strInstructions;
                let ingredients = "";

                for (let i = 1; i < 16; i++){
                    const current_ingredient = drink_data[`strIngredient${i}`];
                    const ingredient_measure = drink_data[`strMeasure${i}`];

                    if (current_ingredient){
                        ingredients += `<li>${ingredient_measure || ""} ${current_ingredient}</li>`;
                    }
                }

                const html = `
                    <a href="/recipe/${drink_data.idDrink}" class="link">
                        <h3 class="output-title">${drink_data.strDrink}</h3>
                    </a>
                    <div id="image" class="box">
                        <img src="${drink_data.strDrinkThumb}"/>
                    </div>
        
                    <div id="recipe" class="box">
                        <h4>Ingredients</h4>
                        <ul>${ingredients}</ul>
                        <br>
                        <h4>Instructions</h4>
                        <p>${instructions}</p>
                    </div>
                `

                document.getElementById("result").innerHTML = html;
            }
        }

        function spinWheel(){
            wheel.stopAnimation(false);
            wheel.rotationAngle = 0;
            wheel.startAnimation();
        }

        getDrinks();

    </script>
{% endblock %}