<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spin the Wheel | Cocktail Generator</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&family=Playfair+Display&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/spin.css') }}" />
</head>

<body>
    <header>
        <i class="fa-solid fa-bars fa-lg"></i>
        <h1 class="title">COCKTAIL GENERATOR</h1>
        <p class="logout"><a href="/logout">Logout</a></p>
    </header>

    <section class="content">
        <h2>Spin the Wheel</h2>
        <h3>Receive a random drink recipe by spinning the wheel! Press SPIN to begin.</h3>

        <div class="wheel-wrapper">
            <canvas id="wheel" class="wheel" width="300px" height="300px"></canvas>

            <button class="spin-button">SPIN</button>

            <div class="result">
                <div class="box">
                    <p>Generated cocktail img</p>
                </div>
    
                <div class="box">
                    <p>Generated cocktail recipe</p>
                </div>
            </div>

        </div>
    </section>

</body>

</html>