* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  background-color: #160E04;
  color: #F0DAB4;
}

.navbar {
  background-color: #150C04;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 2px solid #F0DAB4;
}

.title {
  font-family: 'Playfair Display SC', serif;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.title-link {
  text-decoration: none;
  color: inherit;
}

.logout {
  color: #F0DAB4;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

.menu-btn {
  font-size: 1rem;
  background: none;
  border: none;
  color: #F0DAB4;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 25px;
  height: 25px;
}

.sidebar {
  background-color: #1E130B;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 90px;
  left: -250px;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  transition: all 0.3s ease;
  z-index: 10;
  border-right: 2px solid #F0DAB4;
  border-bottom: 2px solid #F0DAB4;
}

.sidebar.open {
  left: 0;
}

.sidebar a {
  color: #F0DAB4;
  text-decoration: none;
  padding: 0.5rem 0;
  margin-bottom: 1.45rem;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  transition: color 0.2s ease, transform 0.2s ease;
}

.sidebar a:hover {
  transform: scale(1.05);
  color: #d6c08c;
}

.main-content {
  margin-left: 0;
  padding: 2rem;
  transition: margin-left 0.3s ease;
}

.sidebar.open ~ .main-content {
  margin-left: 250px;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 1rem;
    height: 70px;
  }

  .title {
    font-size: 1.3rem;
  }

  .logout {
    font-size: 1rem;
  }

  .menu-icon {
    width: 22px;
    height: 22px;
  }

  .sidebar {
    width: 180px;
    top: 70px;
    padding: 1.5rem 1rem;
  }

  .sidebar.open ~ .main-content {
    margin-left: 0;

  }

  .main-content {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 1.1rem;
  }

  .logout {
    font-size: 0.9rem;
  }

  .sidebar a {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
}
