* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Playfair Display', serif;
    color: #F0DAB4;
    background-color: #150C04;
}

a {
    color: #F0DAB4;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border: 1px solid #F0DAB4;
}

h1{
    font-size: 1.5em;
    letter-spacing: 0.15em;
}

i {
    color: #F0DAB4;
    margin-left: 1em;
}

.logout {
    margin-right: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

/* specific styling for questionnaire page */ 
h2{
    font-size: 2em;
    letter-spacing: 0.15em;
}

h3{
    padding: 15px;
    width: 40%;
    text-align: center;
    letter-spacing: 0.15em;
}

.questions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 50px;
    padding: 40px;
}

.event_type, .location, .attendees{
    background-color: #1F130A;
    border: solid 1px #F0DAB4;
    border-radius: 10px;
    flex: 1;
    padding: 20px;
    width: 350px;
}

.heading{
    text-align: center;
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
}

label{
    display: inline-block;
    margin-bottom: 5px;
    padding: 2px;
}

input{
    margin-left: 40px;
    padding: 5px;
    accent-color: #150C04;
}

.button-wrapper{
    text-align: center;
    padding: 30px;
}

.generate_button{
    font-family: 'Playfair Display', serif;
    color: #F0DAB4;
    background-color: #150C04;
    border: solid 2.5px #F0DAB4;
    border-radius: 20px;
    width: 250px;
    height: 45px;
    text-align: center;
    letter-spacing: 0.15em;
    font-size: 13pt;
}

.generate_button:hover{
    background-color: #F2DFBA;
    color: #150C04;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.result{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;
    padding: 80px;
    padding-top: 100px;
}

.box{
    background-color: #1F130A;
    border: solid 1px #F0DAB4;
    border-radius: 10px;
    flex: 1;
    padding: 20px;
    width: 350px;
    height: 250px;
    text-align: center;
}

/* responsive */
@media (max-width: 600px){
    .questions, .result{
        flex-direction: column;
    }
}