* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Playfair Display', serif;
    color: #F0DAB4;
    background-color: #160E04;
}

a {
    color: #F0DAB4;
    text-decoration: none;
}

h1 {
    font-size: 1.5em;
    letter-spacing: 0.15em;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    background-color: transparent;

}

.recipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin-top: 3em;
    line-height: 1.5;
}

.ingredients {
    width: 30%;
    margin-right: 1em;
}

.instructions {
    margin-left: 1em;
}

.line {
    border-left: 1px solid #F0DAB4;
    height: 200px;
    margin-left: 2em;
    margin-right: 2em;
}

.glass {
    font-size: 0.8em;
    margin-top: 1em;
}

.drink-image {
    width: 200px;
    height: 200px;
}

button {
    display: flex;
    justify-content: center;
}

.btn {
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 10px 0;
    margin-top: 3em;
    width: 8em;
    background-color: #F2DFBA;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    align-self: center;
}


@media screen and (max-width: 768px) {
    .recipe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .line {
        border-top: 1px solid #F0DAB4;
        width: 200px;
        margin-top: 2em;
        margin-bottom: 2em;
        border-left: 0;
        height: 0;
    }
}