* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Playfair Display', serif;
    color: #F0DAB4;
    background-color: #150C04;
}

a {
    color: #F0DAB4;
    text-decoration: none;
}

h1 {
    font-size: 1.5em;
    letter-spacing: 0.15em;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;

}

.recipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin-top: 3em;
    line-height: 1.5;
}

.ingredients {
    margin-right: 1em;
}

.instructions {
    margin-left: 1em;
}

.line {
    border-left: 1px solid #F0DAB4;
    height: 200px;
    margin-left: 2em;
    margin-right: 2em;
}

.glass {
    font-size: 0.8em;
    margin-top: 1em;
}

.drink-image {
    width: 200px;
    height: 200px;
}